<nav class="navbar fixed-top px-5 pt-3" [ngClass]="{'bg-dark': bgNav['background-color'] === 'bg-dark'}">
    <div class="container-fluid">
        <a class="navbar-brand text-danger fw-semibold" href="#">CINESTREAM</a>
        <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-danger fw-semibold" id="offcanvasNavbarLabel">CINESTREAM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="search">Search</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="search">Action</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="search">Adventure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="search">Animation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="search">Comedy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="search">Crime</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="search">Drama</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="search">Sci-Fi</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</nav>